
<style>
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-li {
  display: inline;
  margin-right: 20px;
}

#nav-a {
  color: #fff;
  text-decoration: none;
}

</style>
<nav>
    <ul class="nav-ul">
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a class="nav-a" href="/posts">All Posts</a></li>
      <li class="nav-li"><a class="nav-a" href="/posts/create">Create</a></li>
      <li class="nav-li"><a class="nav-a" href="/auth/register">Register</a></li>
      <li class="nav-li"><a class="nav-a" href="/auth/login">Login</a></li>
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>
  